doctype html
html(lang="en")
        head
                meta(charset="UTF-8")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
                title Toxin
                link(rel='stylesheet' href=require('./index.scss'))
        body 
                h1 Toxin
                script(src=require('./index.js'))