// Fonts
$primary-font: 'Montserrat', sans-serif;

$font-regular: 400;
$font-bold: 700;

$size-small: 12px;
$size-regular: 14px;
$size-big: 24px;

// Colors
$primary-color: #BC9CFF;
$white: #FFF;

$dark-50: rgba(31, 32, 65, 0.50);
$dark-75: rgba(31, 32, 65, 0.75);
$dark-100: #1F2041;